.taskContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  width: 600px;
  .resolveForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .formGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        text-align: left;
        margin-bottom: 5px;
        margin-left: 15px;
        display: block;
        font-size: 14px;
        color: #b4b4b4;
      }

      .error {
        color: red;
        font-size: 12px;
      }
    }
  }
}